version: '3'

volumes:
  mongodb: {}

#Setting up the common range of ips used by all the containers (5g services and webui)
networks:
  common_network:
    ipam:
      config:
       - subnet: ${COMMON_NETWORK}

services:
  mongodb:
    image: ${MONGO_IMAGE}
    container_name: mongodb
    env_file:
      - .env
    volumes:
      - mongodb:/var/lib/mongodb
      - ./mongo:/mnt/mongo
    expose:
      - "27017/udp"
      - "27017/tcp"
    networks:
      common_network:
        ipv4_address: ${MONGO_IP}













  # mongodb:
  # image: mongo
  # container_name: mongodb
  # ports:
  #   - "27017:27017"
  # restart: unless-stopped
  # volumes:
  #   - mongodb:/data/db
  #   - /webui/mongo/mogo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
  # webui:
  #   image: registry.gitlab.bsc.es/ppc/software/open5gs/webui:latest
  #   container_name: open5gs-webui
  #   depends_on:
  #     - mongodb
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     - DB_URI=mongodb://mongodb/open5gs
  #     - WAIT_HOSTS=mongodb:27017

  # amf:
  #   image: registry.gitlab.bsc.es/ppc/software/open5gs/open5gs:latest
  #   networks:
  #     common_network:
  #       ipv4_address: 192.168.0.125
  #   depends_on:
  #     - mongodb
  #   environment:
  #     - DB_URI=mongodb://mongodb/open5gs
  #     - DISPLAY=$DISPLAY
  #   cap_add:
  #     - NET_ADMIN
  #   devices:
  #     - "/dev/net/tun:/dev/net/tun"
  #   sysctls:
  #     - net.ipv6.conf.all.disable_ipv6=0
  #   volumes:
  #     - ./open5gs/config/:/open5gs/install/etc/open5gs

  # gnb:
  #   image: registry.gitlab.bsc.es/ppc/software/open5gs/ueransim:latest
  #   networks:
  #     common_network:
  #       ipv4_address: 192.168.0.126
  #   volumes:
  #     - ./ueransim/config/:/UERANSIM/config

  #   command: ./UERANSIM/build/nr-gnb -c /UERANSIM/config/open5gs-gnb.yaml

  # ue:
  #   image: registry.gitlab.bsc.es/ppc/software/open5gs/ueransim:latest
  #   volumes:
  #     - ./ueransim/config/:/UERANSIM/config

  #   command: ./UERANSIM/build/nr-ue -c /UERANSIM/config/open5gs-ue.yaml
    